---
{% include 'templates/simple_design.yaml.j2' +%}
{% include 'templates/simple_design_1.yaml.j2' +%}

device_types:
    - "!create:model": "Test Model"
      manufacturer__name: "Test Manufacturer"
